@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@keyframes gearAnimation {
    0% {left: 20px;}
    33% {left: 33vw; transform: rotate(360deg);}
    66% {left: 66vw; transform: rotate(720deg);}
    100% {left: calc(100vw - 75px); transform: rotate(1080deg);}
}

/* --General-- */
:root {
    --main_font: 'Montserrat', Verdana, sans-serif;
    --background_main: rgb(46,50,61)/*rgb(24,24,32)*/;
	--background_section: rgb(245, 245, 245)/*rgb(255,226,196)*/;
    --font_color: rgb(42,65,79)/*rgb(52,7,10)*/;
    --shadow_color: rgb(91,125,134)/*rgb(154,82,106)*/;
    --detail_color: rgb(23, 52, 179)/*rgb(138,19,41)*/;
    --main_time: .5s;
    --main_border_outline: 2px dashed var(--detail_color);
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	background: var(--background_main);
    font-family: var(--main_font);
    color: var(--font_color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all var(--main_time);
}

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font-size: 48px;
}

section, nav {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 4%;
    padding: 20px;
    background: var(--background_section);
    outline-offset: -10px;
    box-shadow: 0 0 6px 4px var(--shadow_color);
}

.sectionContainer {
	width: 90%;
	margin: 0 auto;
}

.spanDetail {
	color: var(--detail_color);
	font-weight: 700;
}

.main_button {
    display: inline-block;
    color: var(--background_section);
    padding: 10px;
    margin: 20px auto 0;
    font-size: 20px;
    background-color: var(--shadow_color);
    box-shadow: 0 2px 4px 2px var(--font_color);
    cursor: pointer;
}

.main_button:hover {
    box-shadow: 0 2px 8px 2px var(--font_color);
    background-color: var(--background_main);
}

.fixed {
	position: fixed;
}

.block {
    display: block;
}

.flex {
    display: -ms-flexbox;
    display: flex;
}

.flexJustifyCenter {
    -ms-flex-pack: center;
    justify-content: center;
}

.grid {
    display: -ms-grid;
    display: grid;
}

.outline {
    outline: var(--main_border_outline);
}

/* --Navigation-- */
nav {
    padding: 30px;
    margin-bottom: 2%;
}

nav ul {
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

nav ul a {
    color: var(--background_section);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

nav ul a:hover {
    background-image: linear-gradient(0deg, var(--shadow_color), var(--background_main));
    box-shadow: 0 8px 4px 4px var(--shadow_color);
}

/* --Home-- */
.home {
    transform: rotate(-0.5deg);
}

.home header {
	padding-left: 10%;
	padding-top: 7%;
	text-align: left;
}

.home h2 {
	margin-bottom: 20px;;
}

.home p {
	font-size: 24px;
}

.home span {
	font-size: 36px;
	display: block;
	margin: 20px 0;
}

.home img {
	width: 45%;
	height: auto;
}

/* --About me-- */
.aboutMe {
    transform: translateX(10px);
}

.about {
	padding: 2%;
	margin: 2% auto;
	text-align: justify;
}

.about:first-child {
	text-align-last: right;
}

.about:last-child {
	text-align-last: left;
}

.about h3 {
	margin-bottom: 2%;
}

.about:first-child {
	border-right: var(--main_border_outline);
}

/* --Skills-- */
.skills {
    transform: rotate(0.5deg);
}

.skills h1 {
    margin-bottom: 20px;
}

.skills h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.skills .sectionContainer {
    grid-template: auto auto / 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 20px;
}

.skillHover {
    background-color: var(--background_section);
    background-size: cover;
    background-clip: content-box;
    border-radius: 50%;
    position: absolute;
    display: none;
    width: 145px;
    height: 145px;
    top: 50%;
    left: 50%;
    transform: translate(-55%,-30%);
}

.skill .skillHover {
    z-index: 2;
}

.skill1:hover .skillHover1 {
    display: block;
    background-image: url(img/hover/pic2.png);
}

.skill2:hover .skillHover2 {
    display: block;
    background-image: url(img/hover/pic3.png);
}

.skill3:hover .skillHover3 {
    display: block;
    background-image: url(img/hover/pic4.png);
}

.skill4:hover .skillHover4 {
    display: block;
    background-image: url(img/hover/pic5.png);
}

.skillHoverMain {
    width: 150px;
    height: 150px;
    z-index: 1;
    display: block;
    background-image: url(img/hover/pic1.png);
    border: var(--main_border_outline);
}

.skill {
    padding: 10px;
}

.skill:nth-child(2n+1) {
    border-right: var(--main_border_outline);
} 

.skill:nth-child(2n+0) {
    text-align: right;
}

.skill:first-child, .skill:nth-child(2) {
    border-bottom: var(--main_border_outline);
}

.logos img {
    width: 10%;
    height: auto;
    padding: 6px;
    transition: all var(--main_time);
}

.logos img:hover {
    transform: scale(1.2);
}

/* --Portfolio-- */
.portfolio {
    transform: rotate(-0.5deg);
}

/* .portfolio .sectionContainer {
    grid-template: repeat(3, auto) / repeat(3, 1fr);
    grid-gap: 30px;
    padding: 20px 0;
} */

.projects {
    padding: 5px;
}

.project {
    transition: all var(--main_time);
    position: relative;
}

/* .project:hover {
    transform: scale(1.1);
} */

.project > img {
    max-width: 95%;
    padding: 1%;
    height: auto;
    margin: 5px 0;
    box-shadow: 0 0 5px var(--detail_color);
}

.project a {
    color: var(--font_color);
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-52.5%,-51%);
    width: 95%;
    height: 95%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: var(--background_section);
    opacity: 0;
}

.project a:hover {
    opacity: 0.9;
}

.project p {
    text-align: center;
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
}

.project i {
    font-size: 40px;
}

.project i, .project img {
    padding: 3px;
}

.filterBox {
    width: 60%;
    margin: 1% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filterBox a {
    margin: 10px;
    text-align: center;
}

.filterBox a.current {
    background-color: var(--detail_color);
}

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/* --Contact-- */
.contact {
    transform: translateX(-10px);
}

.contact .sectionContainer {
    grid-template: auto / 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 0;
}

.contactData {
    border-right: var(--main_border_outline);
}

.contactData p {
    padding: 3px;
    font-weight: 700;
}

.contactData p:first-child {
    padding-right: 15px;
    padding-bottom: 20px;
    font-weight: 400;
}

.contactForm {
    padding: 20px;
}

.contactForm input, .contactForm textarea {
    width: 100%;
    border: none;
    border-bottom: 1px dashed var(--detail_color);
    background: inherit;
    padding: 2px 0;
    margin-bottom: 15px;
    font-family: var(--main_font);
}

.contactForm input:-ms-input-placeholder, .contactForm textarea:-ms-input-placeholder {
    font-size: 14px;
}

.contactForm input::placeholder, .contactForm textarea::placeholder {
    font-size: 14px;
}

.contactForm input:focus, .contactForm textarea:focus {
    border: none;
    border-bottom: 1px solid var(--font_color);
    outline: 0;
}

.contactForm input:required {
    border-bottom: 2px solid var(--detail_color);
}

.contact form {
    text-align: left;
}

.contact textarea {
    resize: none;
}

.contact button {
    border: none;
}

.contact small {
    font-size: 12px;
    color: var(--detail_color)
}

/* --Sidebar-- */
aside .social {
	z-index: 5;
    top: 50%;
    left: 30px;
	transform: translateY(-50%);
}

aside .social a {
	color: var(--font_color);
	background-color: var(--background_section);
	font-size: 24px;
	line-height: 48px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 15px;
	border: 6px dashed var(--shadow_color);
	box-shadow: 0 0 8px 6px var(--shadow_color);
}

aside .social a:hover i {
	transition: all var(--main_time);
}

aside .social a:hover {
	transform: rotate(90deg);
}

aside .social a:hover i {
	transform: rotate(-90deg);
	color: var(--detail_color);
}

aside .social a:last-child {
	margin-bottom: 0;
}

/* --Footer-- */
footer {
    position: relative;
    padding-top: 55px;
}

footer p {
    padding-top: 10px;
    line-height: 2;
    font-size: 14px;
    text-align: center;
    color: var(--background_section);
    border-top: 2px dashed var(--shadow_color);
}

footer span {
    top: 0;
    color: var(--background_section);
    font-size: 50px;
    text-shadow: 0 3px var(--shadow_color);
    position: absolute;
    animation: gearAnimation infinite;
    animation-duration: 8s;
}

footer span:first-child {
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction: reverse;
}

footer span:last-child {
    animation-timing-function: ease-in-out;
}

/* --RWD-- */
@media (orientation: portrait), (max-width: 1200px) {
    /* --General-- */
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    section, nav {
        width: 75%;
        margin: 0 auto;
    }
    /* --Home-- */
    .home p {
        font-size: 18px;
    }
    .home span {
        font-size: 24px;
    }
    .home header {
        padding-left: 0;
    }
    /* --Skills-- */
    .skillHoverMain, .skill1:hover .skillHover1, .skill2:hover .skillHover2, .skill3:hover .skillHover3, .skill4:hover .skillHover4 {
        display: none;
    }
    .logos img {
        width: 15%;
    }
    /* --Contact-- */
    .contact .sectionContainer {
        grid-template: auto / 2fr 3fr;
    }
    .contact p {
        font-size: 14px;
    }
}
@media (max-width: 950px) {
    /* --General-- */
    section, nav {
        width: 60%;
        margin: 0 auto;
    }
	.sectionContainer {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    /* --Navigation-- */
    nav ul a {
        font-size: initial;
    }
    /* --Home-- */
	.home img {
		width: 60%;
	}
	.home header {
		-ms-flex: 100%;
			flex: 100%;
		text-align: center;
        padding-left: 0;
        padding-top: 0;
        -ms-flex-order: 1;
            order: 1;
	}
	.home span {
		margin: 5px 0;
    }
    .home p {
        font-size: 16px;
    }
    .home span {
        font-size: 24px;
        display: inline-block;
    }
    .home a {
        margin: 10px auto 20px;
    }
    /* --About me-- */
	.about {
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
		padding: 5%;
		margin-top: 2%;
		-ms-flex: 100%;
			flex: 100%;
	}
	.about:first-child {
		border-right: none;
		border-bottom: var(--main_border_outline);
    }
    /* --Skills-- */
    .skills .sectionContainer {
        grid-template: repeat(4, auto) / 1fr;
    }
    .skill:nth-child(2n+1) {
        border-right: none;
    }
    .skill3 {
        border-bottom: var(--main_border_outline);
    }
    /* --Portfolio-- */
    .portfolio .sectionContainer {
        grid-template: repeat(6, auto) / 1fr;
        grid-gap: 30px;
    }
    /* --Contact-- */
    .contact .sectionContainer {
        grid-template: auto auto / 1fr;
        grid-gap: 10px;
    }
    .contactData {
        border-right: none;
        border-bottom: var(--main_border_outline);
    }
    .contactData p:first-child {
        padding-right: 3px;
    }
    /* --Footer-- */
    footer {
        margin-top: 20px;
    }
    footer img {
        width: 20px;
    }
}
@media (max-width: 820px) {
    /* --Navigation-- */
    nav {
        width: 80%;
    }
}

@media (max-width: 610px) {
    section:first-child {
        margin-top: 20px;
    }
    /* --Sidebar-- */
    aside .social a {
        transform: scale(0.75);
    }
    aside .social {
        left: 10px;
    }
    /* --Navigation-- */
    nav {
        position: fixed;
        z-index: 5;
        top: 0;
        right: -20px;
    }
    nav ul {
        height: 40vh;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: end;
            align-items: flex-end;
    }
    nav ul a {
        padding: 10px;
        border: 1px solid var(--background_section);
        background-image: linear-gradient(0deg, var(--shadow_color), var(--background_main));
    }
    section, nav {
        width: 90%;
    }
    /* --Footer-- */
    footer span {
        animation-duration: 5s
    }
    footer span:first-child {
        animation-duration: 3s;
    }
}

@media (max-width: 350px) {
    /* --Skills-- */
    .logos img {
        display: none;
    }
    /* --Portfolio-- */
    .project i {
        font-size: 30px;
    }
}