@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* --General-- */
:root {
    --main_font: 'Montserrat', Verdana, sans-serif;
    --background_main: rgb(46,50,61)/*rgb(24,24,32)*/;
	--background_section: rgb(245, 245, 245)/*rgb(255,226,196)*/;
    --font_color: rgb(42,65,79)/*rgb(52,7,10)*/;
    --shadow_color: rgb(91,125,134)/*rgb(154,82,106)*/;
    --detail_color: rgb(23, 52, 179)/*rgb(138,19,41)*/;
    --main_time: .5s;
    --detail_time: .2s;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
	background: var(--background_main);
    font-family: var(--main_font);
    color: var(--font_color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font-size: 48px;
}

section, nav {
    width: 80%;
    margin: 0 auto;
}

.fixed {
	position: fixed;
}

.block {
    display: block;
}
/* --Navigation-- */
nav {
    padding: 30px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav ul a {
    color: var(--background_section);
    text-transform: capitalize;
    font-size: 20px 0;
    font-weight: 700;
    padding: 20px;
    transition: all var(--main_time);
}

nav ul a:hover {
    background-image: linear-gradient(0deg, var(--shadow_color), var(--background_main));
    box-shadow: 0 8px 4px 4px var(--shadow_color);
    background-origin: bottom;
}

/* --Sidebar-- */
aside .social {
	z-index: 5;
    top: 50%;
    left: 30px;
	transform: translateY(-50%);
}

aside .social a {
	color: var(--font_color);
	background-color: var(--background_section);
	font-size: 24px;
	line-height: 48px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 15px;
	border: 6px dashed var(--shadow_color);
	box-shadow: 0 0 8px 6px var(--shadow_color);
	transition: all var(--main_time);
}

aside .social a:hover i {
	transition: all var(--main_time);
}

aside .social a:hover {
	transform: rotate(90deg);
}

aside .social a:hover i {
	transform: rotate(-90deg);
	color: var(--detail_color);
}

aside .social a:last-child {
	margin-bottom: 0;
}

/* --Footer-- */
footer p {
    line-height: 2;
    font-size: 14px;
    text-align: center;
    color: var(--background_section);
}

/* --RWD-- */
