@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* --General-- */
:root {
    --main_font: 'Montserrat', Verdana, sans-serif;
    --background_main: rgb(46,50,61)/*rgb(24,24,32)*/;
	--background_section: rgb(245, 245, 245)/*rgb(255,226,196)*/;
    --font_color: rgb(42,65,79)/*rgb(52,7,10)*/;
    --shadow_color: rgb(91,125,134)/*rgb(154,82,106)*/;
    --detail_color: rgb(23, 52, 179)/*rgb(138,19,41)*/;
    --main_time: .5s;
    --detail_time: .2s;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
	background: var(--background_main);
    font-family: var(--main_font);
    color: var(--font_color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
	font-size: 48px;
}

section, nav {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 4%;
    padding: 20px;
    background: var(--background_section);
    outline: 2px dashed var(--detail_color);
    outline-offset: -10px;
    box-shadow: 0 0px 6px 4px var(--shadow_color);
    transition: all var(--main_time);
}

.sectionContainer {
	width: 90%;
	margin: 0 auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}

.spanDetail {
	color: var(--detail_color);
	font-weight: 700;
}

.main_button {
    display: inline-block;
    color: var(--background_section);
    padding: 10px;
    margin: 20px auto 0;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--shadow_color);
    box-shadow: 0 2px 4px 2px var(--font_color);
    transition: var(--main_time);
    cursor: pointer;
}

.main_button:hover {
    box-shadow: 0 2px 8px 2px var(--font_color);
    background-color: var(--background_main);
}

.fixed {
	position: fixed;
}

.block {
    display: block;
}

/* --Navigation-- */
nav {
    padding: 30px;
    margin-bottom: 2%;
}

nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

nav ul a {
    color: var(--background_section);
    text-transform: capitalize;
    font-size: 20px 0;
    font-weight: 700;
    padding: 20px;
    transition: all var(--main_time);
}

nav ul a:hover {
    background-image: linear-gradient(0deg, var(--shadow_color), var(--background_main));
    box-shadow: 0 8px 4px 4px var(--shadow_color);
    background-origin: bottom;
}

/* --Home-- */
.home {
    transform: rotate(-0.5deg);
}

.home:hover {
    transform: rotate(1deg);
}

.home header {
	padding-left: 10%;
	padding-top: 7%;
	text-align: left;
}

.home h2 {
	margin-bottom: 20px;;
}

.home p {
	font-size: 24px;
}

.home span {
	font-size: 36px;
	display: block;
	margin: 20px 0;
}

.home img {
	width: 45%;
	height: auto;
}

/* --About me-- */
.aboutMe {
    transform: translatex(10px);
}

.aboutMe:hover {
    transform: translatex(5px);
}

.about {
	padding: 5%;
	margin: 2% auto;
	text-align: justify;
}

.about:first-child {
	text-align-last: right;
}

.about:last-child {
	text-align-last: left;
}

.about h3 {
	margin-bottom: 2%;
}

.about:first-child {
	border-right: 2px dashed var(--detail_color);
}

/* --Skills-- */

/* --Portfolio-- */

/* --Contact-- */

/* --Sidebar-- */
aside .social {
	z-index: 5;
    top: 50%;
    left: 30px;
	transform: translateY(-50%);
}

aside .social a {
	color: var(--font_color);
	background-color: var(--background_section);
	font-size: 24px;
	line-height: 48px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	text-align: center;
	margin-bottom: 15px;
	border: 6px dashed var(--shadow_color);
	box-shadow: 0 0 8px 6px var(--shadow_color);
	transition: all var(--main_time);
}

aside .social a:hover i {
	transition: all var(--main_time);
}

aside .social a:hover {
	transform: rotate(90deg);
}

aside .social a:hover i {
	transform: rotate(-90deg);
	color: var(--detail_color);
}

aside .social a:last-child {
	margin-bottom: 0;
}

/* --Footer-- */
footer p {
    line-height: 2;
    font-size: 14px;
    text-align: center;
    color: var(--background_section);
}

/* --RWD-- */
@media (orientation: portrait), (max-width: 1200px) {
    /* --General-- */
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 36px;
    }
    section, nav {
        width: 75%;
        margin: 0 auto;
    }
    /* --Home-- */
    .home p {
        font-size: 18px;
    }
    .home span {
        font-size: 24px;
    }
    .home header {
        padding-left: 0;
    }
}
@media (orientation: portrait), (max-width: 950px) {
    /* --General-- */
    section, nav {
        width: 60%;
        margin: 0 auto;
    }
	.sectionContainer {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    	/* --Home-- */
	.home img {
		width: 60%;
	}
	.home header {
		-ms-flex: 100%;
			flex: 100%;
		text-align: center;
        padding-left: 0;
        padding-top: 0;
        -ms-flex-order: 1;
            order: 1;
	}
	.home span {
		margin: 5px 0;
    }
    .home p {
        font-size: 16px;
    }
    .home span {
        font-size: 24px;
        display: inline-block;
    }
    .home a {
        margin: 10px auto 20px;
    }
    /* --About me-- */
	.about {
        -webkit-hyphens: auto;
            -ms-hyphens: auto;
                hyphens: auto;
		padding: 5%;
		margin-top: 2%;
		-ms-flex: 100%;
			flex: 100%;
	}
	.about:first-child {
		border-right: none;
		border-bottom: 2px dashed var(--detail_color);
	}
    /* --Footer-- */
    footer {
        margin-top: 20px;
    }
    footer img {
        width: 20px;
    }
}
@media (orientation: portrait), (max-width: 820px) {
    /* --Navigation-- */
    nav {
        width: 80%;
    }
}

@media (orientation: portrait), (max-width: 610px) {
    section:first-child {
        margin-top: 20px;
    }
    /* --Sidebar-- */
    aside .social a {
        transform: scale(0.75);
    }
    aside .social {
        left: 10px;
    }
    /* --Navigation-- */
    nav {
        position: fixed;
        z-index: 5;
        top: 0;
        right: -20px;
    }
    nav ul {
        height: 40vh;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: end;
            align-items: flex-end;
    }
    nav ul a {
        padding: 10px;
        background-color: ;
        border: 1px solid var(--background_section);
        background-image: linear-gradient(0deg, var(--shadow_color), var(--background_main));
    }
    section, nav {
        width: 90%;
    }
}